body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('../static/images/washington.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#game-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

#player {
  width: 60px;
  height: 80px;
  /* background-color: #f00; */
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
}

.falling-object {
  width: 20px;
  height: 20px;
  /* background-image: url('../static/images/bsuir-raw.png'); */
  background-color: #000;
  position: absolute;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.leaderboard-table {
  margin: 20px auto;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  border: 1px solid black;
}
